html
    head
        title Index Page
    body
        h1 Hello Jade..!
        h2 Lorem ipsum
            hr
            a(href="http://hanb.co.kr", data-test="multiple Attribute") Go to Hanbit Media